@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div>
        <a class="btn btn-primary text-ccenter" asp-controller="Book" asp-action="Index">Show All Books</a>
    </div>
</div>


